<main class="container">
  <h1>Quotes</h1>

  <%= turbo_frame_tag "first" do %>
    <%= render @quotes %>
  <% end %>

  <%= turbo_frame_tag "second" do %>
      <%= link_to "New quote", new_quote_path, data: { turbo_frame: "first" } %>
  <% end %>
</main>
