<main class="container">
  <h1>Quotes</h1>
  <%= turbo_frame_tag "new_quote" %>

  <%= turbo_frame_tag "quotes" do %>
    <%= render @quotes %>
  <% end %>
  <%= link_to "New quote", new_quote_path, data: {turbo_frame: "new_quote"} %>
</main>
